<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Agentie de Turism</title>
	<link rel="stylesheet" type="text/css" href="style.css" >
	<script src="script.js"></script>
</head>
<body>
	<nav>
		<a href="#acasa">Acasă</a>
		<a href="#obiective">Obiective turistice</a>
		<a href="#localitati">Localități</a>
		<a href="">Contact</a>

		<div class="dropdown">
		  <button class="dropbtn">Cont</button>
		  <div class="dropdown-content">
			<a href="/register">Register</a>
			<a href="/login">Login</a>
			<a>
				<form action="logout?_method=DELETE" method="POST">
					<button type="submit">Log Out</button>
				</form>
			</a>
			
		  </div>
		</div>
	</nav>
	
	<main id="acasa">
		<section class="slideshow">
			<div class="slide fade">
				<div class="number">1 / 3</div>
				<img src="images/castelul-peles-s.jpg" alt="Castelul Peles" width="100%">
				<div class="text">Castlul Peleș</div>
			</div>
			<div class="slide fade">
				<div class="number">2 / 3</div>
				<img src="images/transfagarasan.jpg" alt="Transfagarasan" width="100%">
				<div class="text">Transfăgărășan</div>
			</div>	
			<div class="slide fade">
				<div class="number">3 / 3</div>
				<img src="images/delta-dunarii.jpg" alt="Delta Dunarii" width="100%">
				<div class="text">Delta Dunării</div>
			</div>	
			
			<a class="prev" onclick="plusSlides(-1)">&#10094;</a>
 			<a class="next" onclick="plusSlides(1)">&#10095;</a>
		</section>
		<br>
		<div style="text-align:center">
			<span class="dot" onclick="currentSlide(1)"></span>
			<span class="dot" onclick="currentSlide(2)"></span>
			<span class="dot" onclick="currentSlide(3)"></span>
		</div>
		
		<br>

		<section id="obiective">
			<div id="obbut">
				<button id="ob">Vezi obiective turistice</button>
			</div>	
		</section>
		<br>
		<section id="localitati">
			<div id="ap">Apasa aici pentru a afișa o localiatate</div>
			
		</section>

	</main>

</body>
</html>