body {
	margin: 0;
	padding: 0;
	background-color: #d8ddea;
}


/* bara de navigare */
nav {
	overflow: hidden;
	background-color: #051615;
	margin-bottom: 0;
	padding: 0;
}
  
nav a {
	float: left;
	font-size: 16px;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

nav a:hover {
	background-color: #18434e;
}
  
.dropdown {
	margin-right: 100px;
	float: right;
	overflow: hidden;
}
  
.dropdown .dropbtn {
	font-size: 16px;  
	border: none;
	outline: none;
	color: white;
	padding: 14px 16px;
	background-color: inherit;
	font-family: inherit;
	margin: 0;
}
  
.navbar a:hover, .dropdown:hover .dropbtn {
	background-color: #18434e;
}
  
.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}
  
.dropdown-content a {
	float: none;
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
}

.dropdown-content button {
	outline: none;
	border: none;
	float: none;
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
}
  
.dropdown-content a:hover {
	background-color: #ddd;
}
  
.dropdown:hover .dropdown-content {
	display: block;
}

/* galeria de la inceput */

.slideshow {
	max-width: 80%;
	position: relative;
	margin: auto;
	margin-top: 0;
}

.slide {
	display: none;
}

.prev, .next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	margin-top: -22px;
	padding: 16px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
}

.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
	background-color: rgba(0,0,0,0.8);
}

.text {
	color: #d8ddea;
	font-size: 20px;
	padding: 8px 12px;
	position: absolute;
	bottom: 8px;
	width: 100%;
	text-align: center;
}

.dot {
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}

.avtive, .dot:hover {
	background-color: #717171;
}

.fade {
	animation-name: fade;
	animation-duration: 1.5s;
}

@keyframes fade {
	from {opacity: .4}
	to {opacity: 1}
}

#obiective {
	background-color: #a1bdd0;
	
}

#obbut {
	height: 500px;
	display: flex;
	align-items: center;
	justify-content: center;
}

#ob {
	border: none;
	height: 50px;
	background-color: #051615;
	color: white;
	box-shadow: inset;
}

#ob:hover {
	background-color: #18434e;
}

#obvDiv {
	border: 1px solid black;
	height: 500px;
	text-align: center;

}

#ap {
	height: 500px;
	/* border: 2px solid black; */
	text-align: center;
}

